.aa{
    background-color: blue;
    text-align: center;
    color: white;
}
table,tr,th,td{
    border: 2px solid whitesmoke;

}

.bb{
    width: 100%;
    height: 200%;
    text-align: center;
}
.dd{
    background-color: brown;
}
.card{
    width: 350px;
    background-color: rgb(50, 21, 63);
    border-radius: 15px;
}
.rrr{
    background-color: darkslateblue;
}